# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
*.venv
Pipfile
Pipfile.lock

# Django-related
*.log
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
node_modules/

# IDEs and editors
.vscode/
.idea/
*.iml

# Migrations (keep if you want to track them)
**/migrations/*

# If using Docker
docker-compose.yml
.dockerignore

# If using Jupyter Notebooks
.ipynb_checkpoints/

# If using PyCharm
*.idea/
*.env
.envrc
